include header.pug
html
  head
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", type='text/css')
    title=title
  body
    +header-include('Home')
    main
      div.row.text-center
    footer
      div.text-center
        h5 GoodHeart - Javascript Ethereum DApp