include header.pug

html
  head
    link(rel='stylesheet', href="/web-app/views/style.css", type='text/css')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", type='text/css')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/web-app/client.js')
    title=title
  body
    +header-include('AddCharity')
    main
      section#loadingBox
        p Loading ...
      section#infoBox
        header x
        p Info
      section#errorBox
        header x
        p Info
      div.row.text-center
        h1 Add Charity
      div.col-sm-3
      div.col-sm-6
        div.form-group
          label(for='name') Name:
          input.form-control(type='text', id='name', name='name')
        div.form-group
          label(for='description') Description:
          textarea.form-control(rows='5', id='description', name='description', style='resize: none')
        div.form-group
          label(for='funds') Funds amount (in Ether):
          input.form-control(type='text', id='funds', name='funds')
        input.btn.btn-default(type='button', value='Submit', id='addCharityButton')
    footer
      div.col-sm-12.text-center
        h5 GoodHeart - Javascript Ethereum DApp